name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  # TODO: only do this for integration tests workflows
  OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
  COHERE_API_KEY: ${{ secrets.COHERE_API_KEY }}
  AI21_API_KEY: ${{ secrets.AI21_API_KEY }}

jobs:
  ci:
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.9"
          - "3.10"
          - "3.11"
        poetry-version:
          - "1.5.1"

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Install Task
        uses: arduino/setup-task@v1

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install poetry ${{ matrix.poetry-version }}
        run: |
          python -m ensurepip
          python -m pip install --upgrade pip
          python -m pip install poetry==${{ matrix.poetry-version }}

      - name: Install dependencies
        run: task install

      - name: Lint
        run: task lint

      - name: Format
        run: task fmt

      - name: Test
        run: task test:ci

      - name: Run basic example
        run: task run:example:basic

      - name: Upload test coverage
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./cov.xml
          fail_ci_if_error: False
